body {
  background-color: #333333;
  margin: 0; 
  color: #FFFFFF;
}

#menubar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  background:  #222222;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 25px rgba(164, 129, 129, 0.15);
  z-index: 1000;
}

.menuList a {
  text-decoration: none; 
  color: #FFFFFF; 
}

#logo a {
  text-decoration: none;
  color: #FFFFFF; 
  }

#logo {
  font-family: 'Orbitron', sans-serif; 
  font-size: 40px; 
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}

ul.menuList .dropdown:not(:hover) #dropdown-models:not(:hover) {
  display: none;
}

ul.menuList {
  text-transform: uppercase;
  text-align: center; 
  margin: 0;
  padding: 10px;
  list-style: none;
}

ul.menuList li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  padding: 10px 15px; 
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 15px;
}

ul.menuList li:hover {
  background: #d64b46;
  color: #FFFFFF;
}


.dropdown-models {
  display: none;
  position: absolute;
  top: 100%; 
  background: #222222;
  border-radius: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
  text-align: left;
  z-index: 1;
}


.dropdown::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px); 
  z-index: -1; 
  opacity: 0; 
  pointer-events: none; 
  transition: opacity 0.2s; 
}


.dropdown:hover::before {
  opacity: 1;
}



.dropdown:hover .dropdown-models {
  display: block;
  margin-left: -10%;
}

ul.menuList .dropdown-models li {
  padding: 10px;
  margin: 0;
}


.dropdown-models li:hover {
  background: #d64b46;
  width:90%;
}

h1 {
  font-family: 'Orbitron', sans-serif; 
  font-size: 36x; 
  font-weight: bold;
  color: #FFFFFF; 
  text-align: center; 
  margin-top: 5%; 
}

.cpu-month h2 {
  font-family: 'Orbitron', sans-serif; 
  font-size: 36x; 
  font-weight: bold;
  color: #FFFFFF;
  text-align: left; 
  padding-left: 5%;
  padding-top: 10%;

  
}

.overview {
  font-family: 'Arial', sans-serif; 
  font-size: 18px; 
  line-height: 1.5; 
  text-align: justify; 
  color: #FFFFFF; 
  padding: 10px; 
}

.overview_container {
  padding: 2%;
  background-color: #5a5858;
  border-radius: 15px;
  width: 80%; 
  margin: 0 auto;
  margin-bottom: 20px;
}

#cpu-image-homepage {
  width: 90%; 
  height: auto;
  display: block;
  margin: 0 auto; 
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.cpu-info {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  color: #FFFFFF;
  padding: 5%;
  width: 50%;
  float: left;
  margin-top: -5%;
}

.cpu-image {
  width: 30%;
  float: right;
  padding: 0 5%;

}

.cpu-image img {
  max-width: 100%;
  height: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.table_format {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #FFFFFF;
  padding: 5%;
  width: 90%;
  float: left;
  margin-top: -8%;
}

.cpu-specs h3 {
  font-size: 24px;
  font-weight: bold;
}

/* Apply basic styling to all tables */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 30px;
}

/* Style table headers */
th {
  background-color: #222222;
  text-align: left;
  padding: 8px;
}

/* Style table rows */
tr:nth-child(even) {
  background-color: transparent;
}

tr:nth-child(odd) {
  background-color: transparent;
}

/* Style table cells */
td {
  padding: 8px;
  border: 1px solid #ddd;
}

.join-conversation {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #FFFFFF;
  padding-left: 25%;
  width: 50%;
  float: left;
}


.join-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d64b46; 
  color: #FFFFFF; 
  text-decoration: none;
  border-radius: 5px; 
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.join-button:hover {
  background-color: #FFFFFF; 
  color: #d64b46; 
}

.clear {
  clear: both; 
}

footer {
  background: #222222;
  color: #FFFFFF;
  text-align: center;
  padding: 50px 0;
  width: 100%;
  margin-top: 10%;
  z-index: 1000;
}

.forum-post {
  margin: 10px; 
  padding: 10px;
}

.subject {
  font-size: 14px; 
  color: #ffffff; 
  margin-left: 5%;
}

.post-title {
  font-size: 18px;
  color: #ffffff; 
  margin: 10px 0; 
  margin-left: 5%;
  max-width: 50%;
}

.post-actions {
  display: flex;
  margin-left: 5%;
  margin-top: 10px;
}

.like-button,
.comment-button,
.share-button {
  margin-right: 1%;
  padding: 5px 10px; 
  background-color: #d64b46; 
  color: #fff; 
  border: none;
  cursor: pointer;
  border-radius: 7%;
}

.like-button:hover,
.comment-button:hover,
.share-button:hover {
    background-color: #fff; 
    color: #d64b46; 
}

.post-divider {
  
  border: 1px solid #ddd; 
  margin-left: 6%; 
}

.models-container {
  display: flex;
  margin: 20px;
  background-color: #222222;
  border-radius: 10px;
}

.model-summary {
  flex:1;
  padding:20px;
  font-size: 120%;
}

.model-summary h2 {
  font-size: 24px;
  font-weight: bold;
}

.model-summary a {
  color: #FFFFFF;
}


.model-image {
  width: 30%;
  float: right;
  padding: 0 5%;

}

.model-image img {
  max-width: 100%;
  height: auto;
}

.gallery_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.img_gallery {
  display: flex;
  flex-wrap: wrap;
}

.img_gallery img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.timeline-container {
  position: relative;
  transform: scale(1.3);
  transform-origin: top center;
}


/* Timeline  */
.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  padding: 1em;
  list-style-type: none;
  z-index: 1;

}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(145, 143, 143);
  margin-top: 50px;
}

/* Distance in between li*/
.timeline li {
  padding: 7em 0;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  display: inline-block;
}

.flag {
  position: relative;
  display: inline;
  background: #d64b46;
  width:90%;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
}


.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid #d64b46;
  z-index: 1;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: #d64b46;
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: #d64b46;
  border-width: 8px;
  pointer-events: none;
}


.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: #797676;
  margin-top: -10px;
}

.desc {
  margin: 1em 0.75em 0 0;
  font-size: 1 em;
  line-height: 1.5em;
}

.video_container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.video_container iframe {
  margin-bottom: 20px;
  margin-right: 20px;
}

@media (max-width: 1000px) {
  .video_container {
    grid-template-columns: 1fr; /* Change to a 1x1 layout on smaller screens */
  }
}

.video_container_timeline {
  width: 80%;
  margin-left: 30%;
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Left and Right Arrows */
.arrow-container {
  position: relative;
  bottom: 10px;
  z-index: 1000;
}

.arrow {
  font-size: 50px;
  color: #d64b46;
  text-decoration: none;
  margin: 0 10px;
  cursor: pointer;
  padding: 1%;
}

.left-arrow {
  float: left;
}

.right-arrow {
  float: right;
}

.arrow-text {
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin: 5px;
  text-align: center;
}

.left-arrow-text {
  float: left;
  padding-left: 5px;
}

.right-arrow-text {
  float: right;
  padding-right: 5px;
}
